
body {
  background: black;
}
.flex-container {
   display:block;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    
}


.flex-container div {
    height: 400px;
    flex: 1;
}


.flex-container .one {
    background: #1f2937;
    padding: 16px;
}
.content {
    font-size: 25px;
    margin-left: 15%;
    color: white;
}

.contentChild {
    font-size: 48px;
    font-weight: bold;
   
  
}


.flex-container .two {
    background: white;
}
.flex-container .three{
    background: #E5E7EB;
}
.flex-container .four{
    background: white;
}
